.dms-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    max-width: 100% !important;
}
.dms-flex-title{
    flex: 66.6667%;
    padding: 5px;
}
.dms-flex-contact{
    flex: 33.333%;
    padding: 5px;
}
.dms-flex-description, .dms-flex-detalhes-vehicle,  .dms-flex-itens-vehicle{
    flex: 100%;
    padding: 5px;
}

/*POSITIONS ORDER*/
.dms-flex-item-1{
    order:  1;
}
.dms-flex-item-2{
    order:  2;
}
.dms-flex-item-3{
    order:  3;
}
.dms-flex-item-4{
    order:  4;
}
.dms-flex-item-5{
    order:  5;
}

/*TABLET*/
@media screen and (max-width: 1200px) {
    .dms-flex-title,  .dms-flex-contact{
        flex: 50%;
        padding: 5px;
    }
  }
  
  /* MOBILE */
  @media screen and (max-width: 600px) {
    .dms-flex-title,  .dms-flex-contact{
        flex: 100%;
        padding: 5px;
    }
  }