* {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}

/*containar*/
.dmssr-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.dmssr-wrapper {
    width: 100%;
    overflow: hidden;
}

.dmssr-row {
    display: block;
    margin-left: -6px;
    margin-right: -6px;
}

.dmssr-row:before,
.dmssr-row:after {
    content: "";
    display: table;
}

.dmssr-row:after {
    clear: both;
}

.dmssr-content-section{
    width: 66.6667%;
    float: left;
    padding: 6px;
}
.dmssr-content-sidebar{
    width: 33.333%;
    float: left;
    padding: 6px;
}


/*Mobile*/
@media screen and (max-width: 768px) and (min-width: 0px) {
    .dmssr-mb-col-1{
        position: relative;
        float: left;
        width: 100%;
        padding: 6px;
    }
    .dmssr-mb-col-2 {
        position: relative;
        float: left;
        width: 50%;
        padding: 6px;
    }
    .dmssr-mb-col-3{
        position: relative;
        float: left;
        width: 33.333%;
        padding: 6px;
    }
    .dmssr-mb-col-4{
        position: relative;
        float: left;
        width: 25%;
        padding: 6px;
    }
    .dmssr-mb-col-5{
        position: relative;
        float: left;
        width: 20%;
        padding: 6px;
    }
    .dmssr-mb-col-6{
        position: relative;
        float: left;
        width: 16.6666%;
        padding: 6px;
    }
    .dmssr-mb-col-7{
        position: relative;
        float: left;
        width: 14.2857%;
        padding: 6px;
    }
    .dmssr-mb-col-8{
        position: relative;
        float: left;
        width: 12.5%;
        padding: 6px;
    }
    .dmssr-mb-col-9{
        position: relative;
        float: left;
        width: 11.1111%;
        padding: 6px;
    }
    .dmssr-mb-col-10{
        position: relative;
        float: left;
        width: 10%;
        padding: 6px;
    }
    .dmssr-mb-col-11{
        position: relative;
        float: left;
        width: 9.0909%;
        padding: 6px;
    }
    .dmssr-mb-col-12{
        position: relative;
        float: left;
        width: 8.3333%;
        padding: 6px;
    }
}

/*Tablet*/
@media screen and (max-width: 960px) and (min-width: 764px) {
    .dmssr-tb-col-1{
        position: relative;
        float: left;
        width: 100%;
        padding: 6px;
    }
    .dmssr-tb-col-2 {
        position: relative;
        float: left;
        width: 50%;
        padding: 6px;
    }
    .dmssr-tb-col-3{
        position: relative;
        float: left;
        width: 33.333%;
        padding: 6px;
    }
    .dmssr-tb-col-4{
        position: relative;
        float: left;
        width: 25%;
        padding: 6px;
    }
    .dmssr-tb-col-5{
        position: relative;
        float: left;
        width: 20%;
        padding: 6px;
    }
    .dmssr-tb-col-6{
        position: relative;
        float: left;
        width: 16.6666%;
        padding: 6px;
    }
    .dmssr-tb-col-7{
        position: relative;
        float: left;
        width: 14.2857%;
        padding: 6px;
    }
    .dmssr-tb-col-8{
        position: relative;
        float: left;
        width: 12.5%;
        padding: 6px;
    }
    .dmssr-tb-col-9{
        position: relative;
        float: left;
        width: 11.1111%;
        padding: 6px;
    }
    .dmssr-tb-col-10{
        position: relative;
        float: left;
        width: 10%;
        padding: 6px;
    }
    .dmssr-tb-col-11{
        position: relative;
        float: left;
        width: 9.0909%;
        padding: 6px;
    }
    .dmssr-tb-col-12{
        position: relative;
        float: left;
        width: 8.3333%;
        padding: 6px;
    }
}

/*Desktop*/
@media screen and (max-width: 1024px) and (min-width: 959px) {
    .dmssr-md-col-1{
        position: relative;
        float: left;
        width: 100%;
        padding: 6px;
    }
    .dmssr-md-col-2 {
        position: relative;
        float: left;
        width: 50%;
        padding: 6px;
    }
    .dmssr-md-col-3{
        position: relative;
        float: left;
        width: 33.333%;
        padding: 6px;
    }
    .dmssr-md-col-4{
        position: relative;
        float: left;
        width: 25%;
        padding: 6px;
    }
    .dmssr-md-col-5{
        position: relative;
        float: left;
        width: 20%;
        padding: 6px;
    }
    .dmssr-md-col-6{
        position: relative;
        float: left;
        width: 16.6666%;
        padding: 6px;
    }
    .dmssr-md-col-7{
        position: relative;
        float: left;
        width: 14.2857%;
        padding: 6px;
    }
    .dmssr-md-col-8{
        position: relative;
        float: left;
        width: 12.5%;
        padding: 6px;
    }
    .dmssr-md-col-9{
        position: relative;
        float: left;
        width: 11.1111%;
        padding: 6px;
    }
    .dmssr-md-col-10{
        position: relative;
        float: left;
        width: 10%;
        padding: 6px;
    }
    .dmssr-md-col-11{
        position: relative;
        float: left;
        width: 9.0909%;
        padding: 6px;
    }
    .dmssr-md-col-12{
        position: relative;
        float: left;
        width: 8.3333%;
        padding: 6px;
    }
}

/*Desktop*/
@media screen and (min-width: 1025px) {
    .dmssr-lg-col-1{
        position: relative;
        float: left;
        width: 100%;
        padding: 6px;
    }
    .dmssr-lg-col-2 {
        position: relative;
        float: left;
        width: 50%;
        padding: 6px;
    }
    .dmssr-lg-col-3{
        position: relative;
        float: left;
        width: 33.333%;
        padding: 6px;
    }
    .dmssr-lg-col-4{
        position: relative;
        float: left;
        width: 25%;
        padding: 6px;
    }
    .dmssr-lg-col-5{
        position: relative;
        float: left;
        width: 20%;
        padding: 6px;
    }
    .dmssr-lg-col-6{
        position: relative;
        float: left;
        width: 16.6666%;
        padding: 6px;
    }
    .dmssr-lg-col-7{
        position: relative;
        float: left;
        width: 14.2857%;
        padding: 6px;
    }
    .dmssr-lg-col-8{
        position: relative;
        float: left;
        width: 12.5%;
        padding: 6px;
    }
    .dmssr-lg-col-9{
        position: relative;
        float: left;
        width: 11.1111%;
        padding: 6px;
    }
    .dmssr-lg-col-10{
        position: relative;
        float: left;
        width: 10%;
        padding: 6px;
    }
    .dmssr-lg-col-11{
        position: relative;
        float: left;
        width: 9.0909%;
        padding: 6px;
    }
    .dmssr-lg-col-12{
        position: relative;
        float: left;
        width: 8.3333%;
        padding: 6px;
    }
}